<!-- id, name, address, contact, description, workinghours, image -->

<% include ../views/layout %>
<h1>Cattery Profile</h1>
<ul>
  <li>id: "<%= id%>"</li>
  <li>name: "<%= name%>"</li>
  <li>address: "<%= address%>"</li>
  <li>contact: "<%= contact%>"</li>
  <li>description: "<%= description%>"</li>
  <li>workingHours: "<%= workinghours%>"</li>
  <li>image: "<%= image%>"</li>
</ul>

<h3>Kittens</h3>
  <% kittens.forEach(function(kitten){ %>
  <li>
    <a href="/kitten/<%= kitten.idkitten%>"><%= kitten.kittenname%></a>
  </li>
  <% }) %>

<a class="editcattery" href="/editcattery/<%=id%>">Edit</a>
<a class="deletecattery" href="" data-id="<%=id%>">Delete</a>
