<% include ../views/layout %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

<script>
  var sveAdrese=[];
</script>

<section class="hero is-warning is-large">
  
  <div class="">
    <div class="container has-text-centered">
      <div class="d-flex flex-row justify-content-around">
        <img src="https://i.imgur.com/Y5PMzZg.png" title="source: imgur.com" class="w-50 p-3 img-fluid" alt="..." />
        <h1 class="display-4 text-light align-self-center animate__animated animate__heartBeat animate__repeat-3">Welcome to pet2pet!</h1>
      </div>
    </div>

    <div style="height:100px;" class="d-flex justify-content-center">
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-warning" onclick="document.getElementById('breeds').scrollIntoView();">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </button></div>
    </div>
  
    <div style="height:100px;" class="d-flex justify-content-center">
    </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active" onClick="document.getElementById('breeds').scrollIntoView();">
            <a >Overview</a>
          </li>
          <li onClick="document.getElementById('breeds').scrollIntoView();">
            <a>Breeds</a>
          </li>
          <li onClick="document.getElementById('catteries').scrollIntoView();">
            <a>Catteries</a>
          </li>
          <li onClick="document.getElementById('map').scrollIntoView();">
            <a>Cattery locations</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="container container-fluid">
  <br/>
<h3 id="breeds" class="display-4 text-warning align-self-center">Breeds</h3> 
  <div class="d-flex justify-content-center">
  <br />
  <div class="row">
  <% breeds.forEach(function(breed){ %>
    <div class="card card2 m-4" style="width: 18rem;">
      <img src="<%=breed.image%>" class="card-img-top">
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title text-light"><%=breed.breed%></h5>
        <p class="card-text text-light">Lifespan: <%=breed.lifespan%></p>
        <a href="/breed/<%=breed.id%>" class="btn btn-outline-light stretched-link text-light">Visit <%=breed.breed%></a>
      </div>
    </div>
    <% }) %>
  </div>
  </div>
  <br />
  <hr class="bg-warning" style="opacity: 40%;" />
    <h3 id="catteries" class="display-4 text-warning align-self-center">Catteries</h3>
    <div class="d-flex justify-content-center">
    <div class="row">
  <% catteries.forEach(function(cattery){ %>
    <div class="card card1 m-4" style="width: 18rem;">
      <img src="<%=cattery.image%>" class="card-img-top">
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title text-light"><%=cattery.name%></h5>
        <p class="card-text text-light"><%=cattery.address%></p>
        <a href="/cattery/<%=cattery.id%>" class="btn btn-outline-light stretched-link text-light">Visit <%= cattery.name%></a>
      </div>
    </div>
  <script>
    sveAdrese.push("<%= cattery.address%>");
    console.log(sveAdrese);
  </script>
  <% }) %>
    </div>
</div>
  
    <br />
    <!-- <h3>Kittens</h3>
    <% kittens.forEach(function(kitten){ %>
      <li>
        <a href="/kitten/<%=kitten.id%>"><%=kitten.name%></a>
      </li>
      <% }) %> -->
      <br />
      <style>
        #map {
            width: 900px;
            height:400px;
        }
      </style> 
      <br/>
      <br />
  <hr class="bg-warning" style="opacity: 20%;" />
    <h3 class="display-4 text-warning align-self-center">Cattery locations</h3>
    <br/>
      <div id="map" class="w-100 m-4"></div> 
    </div>
      <script type="text/javascript">
        window.onload = function() {
          L.mapquest.key = 'xZkpUhDeKCi3xZfhJVuTc52uc7s6tjN9';
          // Geocode three locations, then call the createMap callback
          console.log(sveAdrese);
          L.mapquest.geocoding().geocode(sveAdrese, createMap);
  
          function createMap(error, response) {
            // Initialize the Map
            var map = L.mapquest.map('map', {
              layers: L.mapquest.tileLayer('map'),
              center: [0, 0],
              zoom: 12
            });
  
            // Generate the feature group containing markers from the geocoded locations
            var featureGroup = generateMarkersFeatureGroup(response);
  
            // Add markers to the map and zoom to the features
            featureGroup.addTo(map);
            map.fitBounds(featureGroup.getBounds());
          }
  
          function generateMarkersFeatureGroup(response) {
            var group = [];
            for (var i = 0; i < response.results.length; i++) {
              var location = response.results[i].locations[0];
              var locationLatLng = location.latLng;
  
              // Create a marker for each location
              var marker = L.marker(locationLatLng, {icon: L.mapquest.icons.marker()})
                .bindPopup(location.adminArea5 + ', ' + location.adminArea3);
  
              group.push(marker);
            }
            return L.featureGroup(group);
          }
        }
      </script>    
      <style>
        .card1 {
          background-color: #f4a261;
        }
        .card1:hover{
          background-color: #e9c46a;
        }
        .card2 {
          background-color: #2a9d8f;
        }
        .card2:hover{
          background-color: #5aa786;
        }
      </style>