<% include ../views/layout %>
<h1>My Profile</h1>
<ul>
  <li>username: "<%= username%>"</li>
  <li>email: "<%= email%>"</li>
  <li>name: "<%= name%>"</li>
  <% if (prikazipass) { %>
    <li>password: "<%= password%>"</li>
  <% } %>
</ul>
<a class="edituser" href="/edituser/<%=username%>">Edit profile</a>
<br />
<br />