<% include ../views/layout %>
<h1>User Profile</h1>
<ul>
  <li>username: "<%= username%>"</li>
  <li>email: "<%= email%>"</li>
  <li>name: "<%= name%>"</li>
  <% if (prikazipass) { %>
    <li>password: "<%= password%>"</li>
  <% } %>
</ul>
<a class="edituser" href="/edituser/<%=username%>">Edit</a>

<% if(prikazipass) { %>
  |
<a class="deleteuser" href="" data-id="<%=username%>">Delete</a>
<% } %>